:root {
	font-size: 60%;

	--color-background: #ffff;
	--color-primary-lighter: #02ebf3;
	--color-primary-light: #02d1d8;
	--color-primary: #00bec5;
	--color-primary-dark: #03a9af;
	--color-primary-darker: #008c91;
	--color-secundary: #04a3d3;
	--color-secundary-dark: #08789b;
	--color-title-in-primary: #1d969c;
	--color-text-in-primary: #00f7ff;
	--color-text-title: #1e6690;
	--color-text-complement: #404444;
	--color-text-base: #252727;
	--color-line-in-white: #e6f0f0;
	--color-input-background: #f8fcfc;
	--color-button-text: #ffffff;
	--color-box-base: #293039;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100vh;
}

body {
	background: var(--color-background);
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
}

body,
input,
button,
textarea {
	font: 300 1.6rem Roboto;
}

.container {
	width: 90vw;
	max-width: 700px;
}

.icon {
	filter: invert(1);
}

@media (min-width: 700px) {
	:root {
		font-size: 62.5%;
	}
}
